:root {
  --transition: all 0.2s !important;
}

.notion-collection__header, .notion-page__icon {
    display: none !important;
}


.notion-property__title__icon-wrapper {
    display: none !important;
}

notion-header__title {
    color: #37352f !important;
}

.notion-heading {
    font-weight: 600 !important;
    margin: 0px 0px 16px 0px  !important;
    padding: 0px !important;
    color: #8A8F98 !important;
}


.notion-page__title .notion-semantic-string {
    border-bottom: none !important;
    padding: 8px 0px !important;

}

.notion-page>div {
    transition: var(--transition) !important;
}


.notion-page>div:hover {
    background: transparent !important;
    color: #0076FF !important;
    transition: var(--transition) !important;
}
