:root {
  --transition: all 0.2s !important;
}

.notion-page__icon {
    display: none !important;
}

.notion-property__title__icon-wrapper {
    display: none !important;
}

#page-index .notion-heading {
    font-weight: 600 !important;
    margin: 0px 0px 16px 8px !important;
    padding: 0px !important;
}

#page-index .notion-text {
    margin-left: 8px !important;
}

.notion-page__title .notion-semantic-string {

}

#page-index .notion-page__title .notion-semantic-string {
    font-weight: 400 !important;
    margin-left: 8px !important;
    transiton: var(--transition) !important;
}

.notion-page__title .notion-semantic-string:hover {
    border-bottom: none !important;
    transiton: var(--transition) !important;
}

.notion-page>div {
    transition: var(--transition) !important;
}


.notion-page>div:hover {
    transition: var(--transition) !important;
}

#page-index .link {
    opacity: 1 !important;
    border-bottom: 1px solid var(--color-border-dark) !important;
}
