:root {
  --transition: all 0.2s !important;
}

.notion-collection__header, .notion-page__icon {
    display: none !important;
}

.notion-property__title__icon-wrapper {
    display: none !important;
}

notion-header__title {
    color: #37352f !important;
}

.notion-heading {
    font-weight: 600 !important;
    margin: 0px 0px 16px 8px !important;
    padding: 0px !important;
}

.notion-text {
    margin-left: 8px !important;
}

.notion-page__title .notion-semantic-string {
    font-weight: 400 !important;
    margin-left: 8px !important;
    transiton: var(--transition) !important;
}

.notion-page__title .notion-semantic-string:hover {
    border-bottom: none !important;
    transiton: var(--transition) !important;
}

.notion-page>div {
    transition: var(--transition) !important;
}

.notion-page>div:hover {
    transition: var(--transition) !important;
}
